*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #524b6d;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr); }

.header {
  background-color: #43d9ec; }

.realtors {
  background-color: #ff7fff; }

.features {
  background-color: aquamarine; }

.story {
  background-color: #f1522a; }

.homes {
  background-color: #ffd27f; }

.gallery {
  background-color: #887fff; }

.footer {
  background-color: #7fff90; }
