*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #524b6d;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.header_1, .header_2, .header_3, .header_4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.header_2 {
  font-size: 4rem;
  font-style: italic; }
  .header_2--dark {
    color: #242d5c; }
  .header_2--light {
    color: #f9f7f6; }

.header_3 {
  font-size: 2.5rem;
  color: #0077b6; }

.header_4 {
  font-size: 2rem; }
  .header_4--light {
    color: #f9f7f6; }
  .header_4--dark {
    color: #242d5c; }

.btn {
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.4s ease; }
  .btn:hover {
    background-color: #023e8a; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  background-color: #43d9ec;
  grid-column: full-start/col-start 6; }

.realtors {
  background-color: #ff7fff;
  grid-column: col-start 6/full-end; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.2rem;
  column-gap: 2rem; }
  .feature__icon {
    fill: #0077b6;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature_text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(to left bottom, rgba(0, 119, 182, 0.5), rgba(2, 62, 138, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img-1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6; }

.story__img-2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 3; }

.story__content {
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  line-height: 1;
  background-color: #f9f7f6;
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3.5rem; }

.home {
  background-color: #f9f7f6;
  border-radius: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem; }
  .home__img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
    object-fit: contain; }
  .home__like {
    width: 4rem;
    height: 4rem;
    fill: #0077b6;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }
  .home__name {
    grid-row: 1/ 2;
    grid-column: 1/-1;
    justify-self: center;
    z-index: 3;
    align-self: flex-end;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #656d4a;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__area, .home__price, .home__rooms {
    font-size: 1.8rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__area svg, .home__price svg, .home__rooms svg {
      fill: #0077b6;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1/-1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #7fff90;
  grid-column: full-start/full-end; }
