.header {
  background-image: url(../img/hero.jpg);
  grid-column: full-start/col-start 7;
  background-position: center;
  background-size: cover;

  padding: 7rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  justify-content: center;

  &__logo {
    height: 15rem;
    justify-self: center;
  }
  &__btn {
    align-self: start;
    justify-self: start;
    width: 25rem;
    height: 6rem;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0.5;
  }

  &__seenon-logo {
    img {
      height: 2.5rem;
    }
  }
}
